:root {
  --primary-color: #efecc6;
  --secondary-color: #13343b;
  --text-color: #efecc6;
  --background-color: #e8f0ef;
  --box-shadow: 0 5px 10px #0f161b;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
}

.primary-link:hover {
  color: var(--secondary-color);
}

.secondary-link:hover {
  color: var(--secondary-color);
}

.secondary-link {
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--primary-color);
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--text-color);
}

.about-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--text-color);
}

.about-paragraphs p {
  margin: 15px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

body {
  margin: 100px 0;
  font-family: var(--default-font-family);
  background: var(--background-color);
}

h4,
h5,
h6 {
  color: var(--secondary-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
  color: var(--text-color);
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  line-height: 1.5;
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.btn-branding {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  background: var(--secondary-color);
  border: 1px solid var(--text-color);
  border-radius: 4px;
  color: var(--text-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  color: var(--secondary-color);
  background: var(--text-color);
}

.project-description {
  padding: 40px 60px;
}

.about-page {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.about-section {
  padding: 160px 20px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
  font-family: var(--heading-font-family);
}

.about-section h3 {
  font-size: 40px;
  font-family: var(--heading-font-family);
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.about-section-content {
  margin: 15px 30px;
}

.ann-picture {
  border-radius: 10px 5%;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
}
